#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.grey{
  background-color: gray;
}
.medium-violet-red{
  background-color: mediumvioletred;
}
.midnight-blue{
background-color: midnightblue;
}
